{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>progpac!</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
    <link rel="stylesheet/less" type="text/css"
          href="{% get_static_prefix %}lib/custom.less">

    <script src="{% get_static_prefix %}js/less.js"
            type="text/javascript"></script>
    <script src="{% get_static_prefix %}js/jquery.js"
            type="text/javascript"></script>
    <script src="{% get_static_prefix %}js/bootstrap-dropdown.js"
            type="text/javascript"></script>

    <script type="text/javascript" src="{% get_static_prefix %}js/game/init.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/game/drawing.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/game/cell.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/game/grid.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/game/grid-model.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/game/pac.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/game/game.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/game/main.js"></script>

  </head>

  <body>
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">ProgPac</a></h3>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Levels</a>
              <ul class="dropdown-menu">
                <li><a href="#">Level 1</a></li>
                <li><a href="#">Level 2</a></li>
                <li class="divider"></li>
                <li><a href="#">Another link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container content">
      <form method="POST">
        {% if error %}
        <div class="alert-message error">
          <p><strong>Oh snap!</strong> {{ error }}</p>
        </div>
        {% else %}
        <div class="error-placeholder"></div>
        {% endif %}
        
        <div class="row">
          <div class="span10 game-grid">
            <canvas id="canvas" width="580" height="580"></canvas>
          </div>
          <div class="span6 editor">
            {% csrf_token %}
            {{ form.text }}
            <div class="actions">
              <input name="submit" type="submit" class="btn" value="Debug">
              <input name="submit" type="submit" class="btn primary" value="Make it Move!">
            </div>
          </div>
        </div>
      </form>
      
      {% if code %}
      <pre>{{ code }}</pre>
      {% endif %}

      {% if ast %}
      <pre>{{ ast }}</pre>
      {% endif %}
      
    </div>
  </body>
</html>
