{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>progpac!</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet/less" type="text/css" 
          href="{% get_static_prefix %}lib/bootstrap.less">

    <link rel="stylesheet/less" type="text/css" 
          href="{% get_static_prefix %}lib/custom.less">

    <script src="{% get_static_prefix %}js/less.js" 
            type="text/javascript"></script>

    <script src="{% get_static_prefix %}js/jquery.js" 
            type="text/javascript"></script>
    
    <script src="{% get_static_prefix %}js/canvas.js" 
            type="text/javascript"></script>

  </head>

  <body>
    <div class="container">

      <canvas width="938" height="550">{% include "level1.txt" %}</canvas> 

      {% if error %}
      <div class="alert-message error">
        <p>
          <strong>Holy guacamole!</strong> 
          {{ error }}
        </p>
      </div>
      {% endif %}
      
      <form method="POST" class="form-stacked">
        {% csrf_token %}

        {{ form.text }}
        
        <div class="actions">
          <input type="submit" class="btn primary" value="Generate!">
        </div>
      </form>

      {% if code %}
      <pre>{{ code }}</pre>
      {% endif %}

      {% if ast %}
      <pre>{{ ast }}</pre>
      {% endif %}

    </div>
  </body>
</html>
