{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h1>Help
    <small>Few words how to move little fellow</small>
  </h1>
</div>

<h2>Basic Steps 
  <small>How to start and not hurt your self</small>
</h2>

<p> steps </p>

<h2>Functions 
  <small>Call the same thing more than once</small>
</h2>

<p> steps </p>

<h2>Functions with arguments
  <small>Call the same thing more than once in different way</small>
</h2>

<p> steps </p>

<h2>Recursion
  <small>Call function itself</small>
</h2>

<p> steps </p>

{% endblock %}

