{% extends "base.html" %}

{% block content %}
<form method="POST">
  {% if error %}
  <div class="alert-message error">
    <p><strong>Oh snap!</strong> {{ error }}</p>
  </div>
  {% else %}
  <div class="error-placeholder"></div>
  {% endif %}
  
  <div class="row">
    <div class="span10 game-grid">
      <canvas id="canvas" width="580" height="580"></canvas>
    </div>
    <div class="span6 editor">
      {% csrf_token %}
      {{ form.text }}
      <div class="actions">
        Code length: <span class="code_length"></span>
        <input name="submit" type="submit" class="btn" value="Debug">
        <input name="submit" type="submit" class="btn primary" value="Make it Move!">
      </div>
    </div>
  </div>
</form>

{% if debug_code %}
<pre>{{ debug_code }}</pre>
{% endif %}

{% if debug_ast %}
<pre>{{ debug_ast }}</pre>
{% endif %}

{% endblock %}
